/* .mini-card {
  width: 250px;
  height: 150px;
  transition: transform 0.3s ease;
}

.mini-card:hover {
  transform: scale(1.05);
}

.mini-card .bg-white {
  top: 10px;
  right: 10px;
  left: 10px;
  width: 100%;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
}


.mini-card h2 {
  font-size: 14px;
}

.mini-card p {
  font-size: 18px;
}

.mini-card .border {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {

  .mini-card {
    width: 200px;
    height: 200px;
  }

  .mini-card h2 {
    font-size: 16px;
  }

  .mini-card p {
    font-size: 10px;
  }
} */







.mini-card {
  width: 250px;
  height: 150px;
  transition: transform 0.3s ease;
}

.mini-card:hover {
  transform: scale(1.05);
}

.mini-card .bg-white {
  top: 10px;
  right: 10px;
  left: 10px;
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.mini-card h2 {
  font-size: 18px;
}

.mini-card p {
  font-size: 12px;
}

.mini-card .border {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 768px) {

  .mini-card {
    width: 200px;
    height: 200px;
  }

  .mini-card h2 {
    font-size: 16px;
  }

  .mini-card p {
    font-size: 10px;
  }
}